@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply mx-auto flex items-center justify-between p-4;
}

.hero {
  @apply mx-auto min-h-screen max-w-screen-xl px-4 py-16 md:px-8;
}

.stats {
  @apply mx-auto max-w-screen-xl py-8;
}

.themeChange {
  @apply bg-gray-100 dark:bg-slate-800;
}

.textColor {
  @apply text-gray-900 dark:text-white;
}

/* service */

.services {
  @apply mx-auto grid max-w-screen-xl  grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3;
}

/* global */

.card {
  @apply mb-4 flex transform flex-col justify-between rounded-lg border border-gray-200 bg-white p-6 shadow-xl transition-transform hover:scale-105 hover:border-blue-500  hover:shadow-slate-300 dark:border-slate-600 dark:bg-slate-700;
}

.cards {
  flex-direction: column;
  padding: 1rem;
}

.service-header {
  @apply mb-4 flex items-center justify-between;
}

.number {
  @apply text-3xl font-bold;
}

.font {
  @apply font-mono font-light;
}

.date {
  @apply text-xl;
}

.level {
  @apply text-xl font-semibold text-blue-600 dark:text-blue-400;
}

.title {
  @apply text-2xl font-bold text-gray-800 dark:text-white;
}

.icon {
  @apply flex h-10 w-10 items-center justify-center rounded-full ring ring-2 hover:-rotate-45 hover:bg-green-500 hover:outline-green-600 hover:transition-all hover:duration-500;
}

.description {
  @apply mt-2;
}

/* scrollbar */
.scrollbar {
  @apply max-h-[350px] overflow-y-auto pr-4;
}

.scrollbar::-webkit-scrollbar {
  @apply w-2; /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Track color */
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-teal-300; /* Thumb (the draggable part) */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-green-600; /* Thumb color on hover */
}

/* button */

/* Add this to your existing CSS or Tailwind setup */

.button {
  @apply transform rounded-full bg-gradient-to-r from-green-400 to-green-500
         px-6 py-3 font-semibold text-white shadow-lg transition-all 
         duration-300 ease-in-out hover:-translate-y-2 hover:from-teal-300  hover:to-teal-400 hover:shadow-xl;
}

/* Contact Page Styles */
.contactPage {
  @apply flex flex-col items-center justify-center px-4 py-16 md:px-8 lg:px-16;
}

.contactPage h1 {
  @apply mb-8 text-center text-4xl font-bold md:text-5xl;
}

.contactPage .contactInfo {
  @apply space-y-4 text-center;
}

.contactPage .contactInfo h2 {
  @apply text-2xl font-semibold md:text-3xl;
}

.contactPage .contactInfo p {
  @apply text-lg md:text-xl;
}

/* responsive */

@screen sm {
  .header {
    @apply p-2;
  }

  /* Hero section styles */
  .hero {
    @apply min-h-[calc(100vh-4rem)] flex-col;
  }

  .stats {
    @apply flex flex-row justify-around space-x-6 space-y-0;
  }

  .themeChange {
    @apply dark:bg-slate-800;
  }

  .services {
    @apply grid-cols-1;
  }

  .cards {
    flex-direction: row;
    padding: 1rem;
  }
  .contactPage {
    @apply px-2 py-8;
  }
}

@screen md {
  .header {
    @apply p-4;
  }
  .hero {
    @apply min-h-[calc(100vh-4rem)] flex-row px-8;
  }
  .stats {
    @apply flex flex-row justify-around space-x-6 space-y-0;
  }
  .themeChange {
    @apply dark:bg-slate-800;
  }
  .services {
    @apply grid-cols-2;
  }
  .cards {
    flex-direction: row;
    padding: 1rem;
  }
  .contactPage {
    @apply px-4 py-12;
  }
}

@screen lg {
  .header {
    @apply px-6 py-4;
  }
  .hero {
    @apply min-h-[calc(100vh-5rem)] flex-row px-12;
  }
  .stats {
    @apply flex flex-row justify-around space-x-6 space-y-0;
  }
  .services {
    @apply grid-cols-2;
  }
  .contactPage {
    @apply px-8 py-16;
  }
}

@screen xl {
  .header {
    @apply px-8 py-4;
  }
  .hero {
    @apply min-h-[calc(100vh-6rem)] flex-row px-16;
  }
  .stats {
    @apply flex flex-row justify-around space-x-6 space-y-0;
  }
  .contactPage {
    @apply px-12 py-20;
  }
}

@screen 2xl {
  .header {
    @apply px-10 py-6;
  }
  .hero {
    @apply min-h-[calc(100vh-6rem)] flex-row px-16;
  }
  .stats {
    @apply flex flex-row justify-around space-x-6 space-y-0;
  }
  .contactPage {
    @apply px-16 py-24;
  }
}
